<meta charset="utf-8">
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="https://unpkg.com/d3-simple-slider"></script>
        <script type="text/javascript" src="/javascripts/loadactivity.js"></script>
        <link rel="stylesheet" href="/stylesheets/activity.scss">
</head>

<body>
<div class = "activitypage">
<div class="container text-center mt-4">
    <div class="d-flex justify-content-center py-2" id="userID">UserID:   <div name= "userID" style="display:inline" id="userID">{{ userID }}</div></div>
    <h1 class= "py-2">Exercise {{ question }} of 14</h1>
    <p><b>Can you find a bat in the image?</b></p>
    <div class = "d-flex bat"></div>
    <div class = "container">
        <div class = "row">
            <div class= "col-sm imageactivity"></div>
            <div class= "col-sm answeractivity">
            <p>Do you think the bat is in the image?</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-secondary">No</button>
            </div>
            <br>
            <p>Please rate the confidence in your decision.</p>
            <p id="value-simple"></p>
            <div id="slider-simple"></div>
            <br>
            <p>Do you think the majority of people found the bat?</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Yes</button>
                <button type="button" class="btn btn-secondary">No</button>
            </div>
            
            </div>
        </div>
    </div>

<form autocomplete="off" method="POST" action="/activity/{{userID}}/">
    <p class="py-2 text-danger"> {{ error }} </p>
    <button type="submit" class="btn btn-success nextBtn">Next</button>
</form>
</div>
</div>

<script>
    var userID = '{{ userID }}';
    var question = '{{ question }}';

    $('.btn').click(function(e) {
        $('.btn').not(this).removeClass('active');    
        $(this).toggleClass('active');
        e.preventDefault();
    });


    renderQuestion(userID, question);
</script>

</body>
</html>