<meta charset="utf-8">
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.1.1.min.js">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/javascripts/loadactivity.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-slider.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-slider.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap-slider.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css">
  <link rel="stylesheet" href="/stylesheets/activity.scss">
</head>

<body style="font-size: 18px;">
<div class="activitypage">
    <div class="container text-center mt-6">
        <div class="d-flex justify-content-center py-2" id="userID">UserID:
            <div name="userID" style="display:inline" id="userID">{{ userID }}</div>
        </div>
        <h1 class="py-2">Exercise {{ sequence }} of 24</h1>

        <p class="py-2 text-danger" id="errorText1"> {{ error }} </p>
        <p><b>Can you find the below pickaxe in the Top View image?</b></p>

        <img id="img2find">


        <p class="text-danger">Time remaining: <span id="time"> 00:{{ time }}</span></p>

        <p><b>NOTE: Double click to enlarge images</b></p>
        <div class="container mainContainer">
          <div class="col text-right">
            <img id="img2find_right" height="300" width="500">
            <p style="text-align:right;font-size:150%;"><b>Front View</b></p>
          </div>
            <div class="row">
                <div class="row">
                  <div class="img-with-text">
                    <img id="img2find_left" height="500">

                    <p style="text-align:center;font-size:140%;"><b>Lateral View</b></p>

                  </div>
                  <div class="img-with-text">
                    <canvas id="canvas"></canvas>
                    <p style="text-align:center;font-size:150%;"><b>Top View</b></p>
                  </div>
                </div>

                <div class="col-sm answeractivity">

                    <p>Is the object in the Top View image?</p>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" id="option11">
                            <input type="radio" name="q1" autocomplete="off"> Yes
                        </label>
                        <label class="btn btn-secondary" id="option12">
                            <input type="radio" name="q1" autocomplete="off"> No
                        </label>
                    </div>
                    <div id="popup" style="color: red;"> </div>

                    <p id="value-simple" style=""></p>
                    <input id="ex13" type="text" data-slider-ticks="[0, 33, 67, 100]" data-slider-ticks-snap-bounds="1" data-slider-ticks-labels='["Uncertain", "Slightly Confident", "Confident", "Very Confident"]' style="width: 800px;"/>

                    <br>
                    <p>What do you think the majority of people responded?</p>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" id="option21">
                            <input type="radio" name="q3" autocomplete="off"> Yes
                        </label>
                        <label class="btn btn-secondary" id="option22">
                            <input type="radio" name="q3" autocomplete="off"> No
                        </label>
                    </div>
                    <form id="subForm" action="/activity/{{ userID }}/" method="POST">
                        <p class="py-2 text-danger" id="errorText2"> {{ error }} </p>
                        <input type="submit" class="btn btn-outline-success" id="submitButton" value="Submit">
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <button type= "button" class="rotatebutton btn btn-primary" onclick="rotateElem()"> Rotate by 90 degrees </button>
    <br>
    <img class="modal-content img-fluid" id="img01">
    <div id="caption"></div>
</div>

<script>
    var duration = '{{ time }}'
    duration = duration - 1
    var userID = '{{ userID }}';
    var question = '{{ question }}';
    display = document.querySelector('#time')
    capText = document.getElementById("caption");
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var imgWidth = 500;
    var imgHeight = 500;
    ctx.canvas.width = imgWidth;
    ctx.canvas.height = imgHeight;
    var rect = {}; // Properties: startX, startY, w, h
    rect.startX = null;
    rect.startY = null;
    rect.w = null;
    rect.h = null;
    var drag = false;
    var imageObj = null;


    // Popup text when "Yes" selected
    var yesButon = document.getElementById("option11");
    var noButton = document.getElementById("option12");
    yesButon.onclick = function (){
        document.getElementById("popup").innerText = "Please draw a bounding box on the image around the pickaxe.";
    }
    noButton.onclick = function () {
        document.getElementById("popup").innerText = "";
        document.getElementById("output").innerText = "";
    }
    window.onload = function () {
        if (duration <= 0) {
            duration = 0
            renderQuestion(userID, question, duration);
        } else {
            renderQuestion(userID, question, duration);
            startTimer(duration, display, capText, userID);
        }
    }


</script>

</body>
</html>
