<meta charset="utf-8">
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="https://unpkg.com/d3-simple-slider"></script>
        <script type="text/javascript" src="/javascripts/loadactivity.js"></script>
        <link rel="stylesheet" href="/stylesheets/leaderboard.scss">
</head>

<body>

<div class="container text-center mt-4">
    <div class="d-flex justify-content-center py-2" id="userID">UserID:   <div name= "userID" style="display:inline" id="userID">{{ userID }}</div></div>
    <div class = "container mainContainer">
        <div class = "row">
            <div class = "col-sm">
                <h1>Your Score:</h1>
                <h1 class="text-danger">{{total}} / 14</h1>
            </div>
            <div class= "col-sm">
                <h1>Leaderboard</h1>
                
                <div class= "wrapper">

                    <table>
                        <thead>
						    <tr>
							    <th>Rank</th>
							    <th>User</th>
							    <th>Score</th>
						    </tr>
					    </thead>
                        <tbody>
                            {% for user in leaderboard %}
                                <tr>
                                    <td class="rank"> {{ loop.index }} </td>
                                    <td class="user"> {{user.user}} </td>
                                    <td class="score"> {{user.score}} / 14 </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    <form id="subForm" action="/survey/{{userID}}/" method="POST">
        <input type="submit" class = "btn btn-outline-success" id = "submitButton" value="Continue to Survey">
    </form>
    </div>
</div>
</body>
</html>